* {
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #938231;
  padding: 1rem 1.5rem;
  width: 650px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(210 30% 20% / 1);
  max-width: 650px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="text"] {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
}
input[type="text"]:focus {
  border-color: #2c3742;
  outline: none;
}
input[type="text"]:focus::placeholder {
  color: transparent;
}

#todoList {
  margin-top: 2rem;
  line-height: 2;
  color: lightgray;
  list-style: none;
}

.todo-item {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.deleteBtn {
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

button {
  background-color: #2c3742;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  margin: 20px;
}

button:hover {
  background-color: #253e57;
}

/* Style for the checkbox */
.todo-item input[type="checkbox"] {
  appearance: none; /* Remove default checkbox styling */
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  position: relative;
  top: 8px;
  left: -10px;
}

.todo-item input[type="checkbox"]:checked {
  background-color: green; /* Set background color to green when checked */
  border-color: gold; /* Optional: Change border color when checked */
}

.todo-item input[type="checkbox"]:checked::after {
  content: "✔"; /* Add a checkmark */
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for completed todos */
.todo-item.completed {
  text-decoration: line-through;
  color: gray; /* Optional: Change the text color for completed todos */
}
